@media(max-width:1000px){
    body{
        height: 110vh;
    }
    .card{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 200px);
    }
    #sup{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #build{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #karma{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #calc{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

@media(max-width:650px){
    body{
        height: 160vh;
    }
    .container{
        padding: 30px;
    }
    .card{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 200px);
    }
    #sup{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #build{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #karma{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #calc{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}